<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">Kelompok</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-6">

      <div class="box">
        <div class="box-header">
          <h5>Kelompok Yang Ada</h5>
        </div>

        <div class="box-body">
          
        </div>
      </div>
        
    </div>

    <div class="col-md-6">

      <div class="box">
        <div class="box-header">
          <h5>Tambahkan Kelompok Baru</h5>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="row input-nama">
              <label for="namaKelompok" class="col-sm-4 control-label">Nama Kelompok</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="namaKelompok" placeholder="Masukkan nama kelompok...">
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button  class="btn btn-success pull-right">Tambahkan</button>
        </div>
      </div>
        
    </div>
  </div>

</section>
<!-- /.content -->
