<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Tambah Kelompok
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Tambah Kelompok</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-6">

        <div class="box">
          <div class="box-header">
            <h5>Kelompok Yang Ada</h5>
          </div>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama Kelompok</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{category.category.name}}</td>
                  <td>
                    <a class="btn btn-success" (click)="editCategory(category.category.name, category.category._id)">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="!categories">
                  <td>Tidak ada kelompok yang dapat ditampilkan saat ini.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
         
      </div>

      <div class="col-md-6">

        <div class="box">
          <div class="box-header">
            <h5>Tambahkan Kelompok Baru</h5>
          </div>
          <div class="box-body">
            <div class="form-group">
              <div class="row input-nama">
                <label for="namaKelompok" class="col-sm-4 control-label">Nama Kelompok</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="namaKelompok" [(ngModel)]="nameInput.name" placeholder="Masukkan nama kelompok...">
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button (click)="addCategoryAction()" class="btn btn-success pull-right">Tambahkan</button>
          </div>
        </div>
          
      </div>
    </div>

  </section>
  <!-- /.content -->
