.input-nama {
    label {
        margin: auto 0;
        height: 100%;
        font-weight: bold;
        font-size: 1vw;
    }
}

table {
    tbody {
        td {
            vertical-align: middle;
        }
    }

    a {
        color: white;
    }
}