.nav-tabs-custom {
    .nav-tabs {
        li {
            margin-right: 30px;
            height: 40px;
            width: 20vw;
            text-align: center;
            vertical-align: middle;
            a {
                vertical-align: middle;
            }
        }
    }

    .tab-content {
        background: #f2f2f2 !important;
    }
}
