<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dokumentasi Kegiatan
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="" [class.active]="viewTab == 'tab1'" (click)="viewTab = 'tab1'"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Gallery Video</a></li>
          <li class="" [class.active]="viewTab == 'tab2'" (click)="viewTab = 'tab2'"><a href="#tab_2" data-toggle="tab" aria-expanded="false">Gallery Foto</a></li>
        </ul>
        <div class="tab-content" [ngSwitch]="viewTab">
          <div class="tab-pane" id="tab_1" *ngSwitchCase="'tab1'">

            <div class="row">
              <div class="col-md-6">
          
                <div class="box">
                  <div class="box-header">
                    <h5>Daftar Video yang ada pada Web</h5>
                  </div>
          
                  <div class="box-body table-responsive no-padding">
                    <div class="no-task" *ngIf="videosList?.length == 0">
                      <p>Tidak tugas video yang dapat ditampilkan saat ini.</p>
                    </div>
                    <table *ngIf="videosList?.length != 0" class="table table-hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Judul Video</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let video of videosList; let i = index">
                          <td>{{i+1}}</td>
                          <td>
                            <a href="https://youtube.com/watch?v={{video.url}}">
                              {{video.title}}
                            </a>
                          </td>
                          <td>
                            <a class="btn btn-success" (click)="editVideo(task._id)">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" (click)="deleteVideo(task._id)">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                  
              </div>
          
              <div class="col-md-6">
          
                <div class="box">
                  
                  <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
                    <div class="box-header">
                      <h5>Tambahkan Video baru pada Web</h5>
                    </div>
                    <div class="box-body">
                      <div class="form-group">
                        <div class="row input-row">
                          <label for="videoTitle" class="col-sm-3 control-label">Judul Video</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="videoTitle" placeholder="Masukkan judul video..." name="videoTitle" ngModel required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row input-row">
                          <label for="videoId" class="col-sm-3 control-label">Video ID</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="videoId" placeholder="Masukkan Id video (youtube.com/watch?v=id_video)" name="videoId" ngModel required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-footer">
                      <button  class="btn btn-success pull-right">Tambah Video</button>
                    </div>
                  </form>
                 
                </div>
                  
              </div>
            </div>
    
            
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2" *ngSwitchCase="'tab2'">
            
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
    </div>
   
          
  </div>
  

</section>
<!-- /.content -->
