<app-appheader></app-appheader>
<app-appsidemenu></app-appsidemenu>
<!-- page content wrapper -->
<div class="content-wrapper">
  <!-- Content header section -->
  <section class="content-header">
    <h1>Dashboard</h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard">Home</i>
        </a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <!-- Content section -->
  <section class="content">

  </section>
</div>
<app-appfooter></app-appfooter>