.image-cover {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.image-300 {
    img {
        max-height: 300px;
    }
}

.image-300 {
    img {
        max-height: 200px;
    }
}

.row {
    margin-bottom: 10px;
}

#newsBody {
    text-align: justify;

    p {
        margin-top: 10px;
        margin-bottom: 10px;        
    }
}

button {
    i {
        padding-right: 10px;
    }
}

label {
    font-weight: bold;
}