table {
    tbody {
        tr {
            cursor: pointer;
        }

        td {
            vertical-align: middle;
        }
    }

    a {
        color: white;
    }
}

button {
    i {
        padding-right: 10px;
    }
}