  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

      <div class="callout callout-info">
        <h4>Selamat Datang!</h4>
        A Web Application for Managing MPKMB IPB Site
      </div>

      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua" routerLink="/admin/berita">
            <div class="inner nav-panel">
              <p>Berita</p>
            </div>
            <div class="icon">
              <i class="fa fa-th"></i>
            </div>
            <a routerLink="/admin/berita" class="small-box-footer">Selengkapnya <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green" routerLink="/admin/penugasan">
            <div class="inner nav-panel">
              <p>Penugasan</p>
            </div>
            <div class="icon">
              <i class="fa fa-tasks"></i>
            </div>
            <a routerLink="/admin/penugasan" class="small-box-footer">Selengkapnya <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner nav-panel" routerLink="/admin/galeri">
              <p>Galeri</p>
            </div>
            <div class="icon">
              <i class="fa fa-picture-o"></i>
            </div>
            <a routerLink="/admin/galeri" class="small-box-footer">Selengkapnya <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner nav-panel" routerLink="/admin/toko">
              <p>MPKMB Store</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a routerLink="/admin/toko" class="small-box-footer">Selengkapnya <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
          

  </section>
  <!-- /.content -->
